.new-transaction__h1 {
  text-align: center;
  margin-top: 3rem;
}

.new-transaction__controls {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  margin: 3rem auto;
  width: 95%;
  max-width: 40rem;
  border-radius: 6px;
  background-color: #f4f5f7ee;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
  display: block;
}


.new-transaction__control label {
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  display: block;
}

.new-transaction__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
  text-transform: capitalize;
}

.new-transaction__control select {
  font: inherit;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
  text-transform: capitalize;
}

.new-transaction__actions {
    text-align: center;
    margin: 1.5rem;
}

.new-transaction__actions button {
  margin: 0.5rem;
  width: 3cm;
}
