.transaction h1 {
  text-align: center;
  margin-top: 3rem;
  }


  .transaction__container {
    margin: 3rem auto;
    width: 95%;   
    max-width: 40rem;
    border-radius: 6px;
    background-color: #f8f9fa;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    text-align: center;
  }

  .transaction__control {
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    vertical-align: top;
    font: inherit;
    font-weight: bold;
  }

  .transaction__date {
    align-items: flex-start;
    flex: 1;
    color: #343a40;;
  }

  .transaction__overallIncome {
    align-items: flex-end;
    flex:2;
    color: #45789d;
  }

  .transaction__overallExpense {
    align-items: flex-end;
    flex: 1;
    color:#e63946;
  }

  .transaction-list{
    width: 95%;
    border-radius: 3px;
    background-color: #f4f5f7;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    vertical-align: top;
    font: inherit;
}