.budget-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font: inherit;
    text-transform: capitalize;
    border: none;
    font-size: 16px;
    box-shadow: 0 2px silver;
    background-color: #edf2fb;

  }

  .budget-item:hover {
    background-color: #e2eafc;
  }

  .budget-item:active {
    background-color: silver;
    box-shadow: 0 2px silver;
    transform: translateY(4px)
  }
  
  .budget-item__category {
    align-items: flex-start;
    flex: 1;
    color:#343a40;;
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .budget-item__description {
    align-items: flex-start;
    flex: 2;
    color: #343a40;
    text-align: left;
  }

  .budget-item__income {
    align-items: flex-end;
    flex:1;
    color: #45789d;
    text-align: right;
    padding-right: 1rem;
  }

  .budget-item__expense {
    align-items: flex-end;
    flex: 1;
    color: #e63946;
    text-align: right;
    padding-right: 1rem;

  }